<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
      rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Clientes  | Listagem</title>
</head>
<body>
    <h2>Clientes Cadastrados:</h2>

    <!--listagem que vem do banco de dados-->
    <ul class="list-group">
        <% lista.forEach(function(user){ %>
            <li class="list-group-item"><%= user.nome %></li>
           
        <% }) %>

    </ul>

   
    

    
</body>
</html>